<html>
  <head>  
  <title>pretadepenser_api_score</title>  
  <body bgcolor="FFFFFF">  
   <center><img src="{{url_for('static', filename='logo.png')}}" align="bottom" /></center>
   <hr>
  
    <h1>Scoring API</h1>  
    <p>This site is an API for Bank loan Scoring.</p>
    <p>&nbsp;</p>
    <p><u>API running : </u></p>
    <p><mark>On Local  sever:</mark> http://127.0.0.1:5000/predict</p>
    <p><mark>On Heroku sever:</mark> https://https://apiscoringpretadepenser.herokuapp.com/predict</p>
    <p>&nbsp;</p>
    <p>The list of the valid client Ids is generated when executing this API.</p> 
    <p>It can be found in th API folder or downloaded from this <a href="{{url_for('static', filename='Valid_Clients_ID')}}">file link</a> </p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p> OCR/Projet7/MAVEL</p>
    
    <hr>  
  </body>  
</html> 